<header>
    <div class="header-container">
        <div class="logo">JK Electronics</div>
        <nav class="nav-links">
            <a routerLink="/header">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/contact">Contact Us</a>
        </nav>
    </div>
</header>

<h1>Start Your Shopping <br> & <br> Make your interest whith electrinics items for your home</h1>
<button class="btn"><a routerLink="/login">Login</a></button>
<div class="background-image">
</div>
